.content-layout {
  padding: 5rem;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}

.content-layout__frame{
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 12px;
}
@media screen and (max-width: 768px){
 .content-layout {
    padding: 2rem;
 }
}
